{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{{ title }}.</h2>
<!-- Remove {{ message }} if not defined in context -->
<p>Use this area to provide additional information.</p>
<h2>{{ title }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            <h6 class="card-text">   <h6>
        </div>
        <div class="card-body">
         
           {{ form }}
        </div>
       
    </div>
    <input type="submit" value="Submit" class= "btn btn-success">
</form>

{% endblock %}